.H1_sec{
  height: 1038px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: url("./images/main_background.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.H1_scroll{
  max-width: 700px;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%
}

.scroll_down{
  display: flex;
  align-items: center;       
  gap: 8px;   
}

.product{
  margin-top:1.25rem;
}
.text_under_product{
  margin-top:-0.3rem;
}

.product_list{
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 10px;  
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.reviews_items{
  display: flex;
  flex-direction: column;  
  align-items:center;
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  margin-top: -3rem;
}
.partners{
  margin-top:5.12rem;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

footer{
  margin-top:4.22rem;
}

@media (max-width: 950px){
  h1{
    font-size: 65px;
    padding: 50px;
  }
 } 

@media (max-width: 900px){
    
  .image_main {
    width: 100%;
    height: 100%;
  }
  .product_card_img
  {
    max-width: 320px;
    height: 25%;
  }

  .product_card{
    max-width: 320px;
    height: 75%;
  }
  

 .product_list{
    font-size: 25px;
    gap:1rem;
 }

} 


@media (max-width: 768px){

  .logo_p{
    max-width: 320px;
    height: 25%;
  }

  .logos_partners{
    width: 100%;
    height: 100%;
  }

  .partners{
    padding: 25px;
    gap:10px;
  }

  .H1_sec{
    height: 37rem;
  }

 } 


@media (max-width: 670px){

 h1{
  font-size: 45px;
  padding: 35px;
  }
  .text_main_huge{
    font-size: 22px;
    padding: 20px;
  }

} 

@media (max-width: 320px){
  .partners{
    padding: 16px;
    gap:7px;
  }

  h1{
    font-size: 35px;
    line-height: 30px
  }
  
 } 