.h2_underh{
    text-align: center;
    margin-top:5rem;
    margin-bottom: 5rem;
}

.flex_price{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:10px;
}

.service_price{
    width: 100%;
    margin-top:-2.35rem;
}

.price{
    margin-left: auto; 
    
}
.price_card1
{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}

.services_section{
    padding: 0 1.5rem;
}
.price_money{
    white-space: nowrap;
}

.price_card2
{
    margin-top:5rem;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}

.price_card3
{
    margin-top:5rem;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}

/* font fixes */

.flex_price{
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%
}

.services{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%
}
 
.h2_underh{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

@media (max-width: 1200px){
    .service_img{
        margin: auto 0;
        width: 45vw;
        height: 36.4vw;
    }
 }

 @media (max-width: 900px){
    .h2_underh{
        text-align: center;
        margin-top:5rem;
        margin-bottom: 5rem;
    }

    .services{
    }

    .flex_price{
    }
 }

 @media (max-width: 650px){
    .price_card1 , .price_card2 , .price_card3{
        flex-direction: column;
    }

    .service_img{
        margin: 0 auto;
    }
 }