.h2_underh{
    text-align: center;
    font-size: 48px;
    margin-top:5rem;
    margin-bottom: 5rem;
}

.flex_price{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:10px;
}

.service_price{
    width: 100%;
    margin-top:-2.35rem;
    
}

.price{
    margin-left: auto; 
    white-space: nowrap;
}
.price_card1
{
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    font-size: 25px;
    
}

.services_section{
    padding: 0 1.5rem;
}

.price_card2
{
    margin-top:5rem;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    font-size: 25px;
}

.price_card3
{
    margin-top:5rem;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    font-size: 25px;
}

@media (max-width: 1200px){
    .service_img{
        margin: auto 0;
        width: 45vw;
        height: 36.4vw;
    }
 }

 @media (max-width: 900px){
    .h2_underh{
        text-align: center;
        font-size: 36px;
        margin-top:5rem;
        margin-bottom: 5rem;
    }

    .services{
        font-size: 18px;
    }

    .flex_price{
        font-size: 24px;
    }
 }

 @media (max-width: 650px){
    .price_card1 , .price_card2 , .price_card3{
        flex-direction: column;
    }

    .service_img{
        margin: 0 auto;
    }
 }